*/.DStore
docker/data/
docker/logs/
docker/secret/*
nebula/store/
pom.xml
pom.xml.asc
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/